{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{- with site.GetPage "/banner" }}
    {{- if .Params.enabled }}
    <div class="banner">
        <p class="title">{{ .Title | safeHTML }}</p>
        <div class="subtitle">{{ .Content }}</div>
    </div>
    {{- end }}
    {{- end }}
    <div class="bio-cols">
        <img id="profile" src="/images/profile.png" />
        <div>
            <div class="entry-content">
                {{ .Content | markdownify }}<br>
                Technologist · Software Architect · Consultant<br>
                <a id="ens" href="https://app.ens.domains/juniperspring.eth">
                    <img src="/images/ens-mark.svg" style="max-width: 1.7rem;" />
                    <span>juniperspring.eth</span>
                </a>
                <span style="letter-spacing: 0.05em;">☕👨‍💻🏳️‍🌈</span>
            </div>
        </div>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
