{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div class="banner">
        <p class="title">Long Live WCSB Cleveland! 📡✊</p>
        <p class="subtitle">Support independent, student-run radio.<br/><br/> Cleveland State University pays their board members $200k+ a seat so they can tell the public they can't afford a radio station. To Ideastream Public Media and the Cleveland State University Board of Trustees, fuck off!</p>
    </div>
    <div class="bio-cols">
        <img id="profile" src="/images/profile.png" />
        <div>
            <div class="entry-content">
                {{ .Content | markdownify }}<br>
                Technologist · Software Architect · Consultant<br>
                <a id="ens" href="https://app.ens.domains/juniperspring.eth">
                    <img src="/images/ens-mark.svg" style="max-width: 1.7rem;" />
                    <span>juniperspring.eth</span>
                </a>
                <span style="letter-spacing: 0.05em;">☕👨‍💻🏳️‍🌈</span>
            </div>
        </div>
        <footer class="entry-footer">
            {{ partial "social_icons.html" site.Params.socialIcons }}
        </footer>
    </div>
</article>
{{- end -}}
